<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-restartapp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-restartapp</name>
    <js-module name="restartApp" src="www/cordova-plugin-restartapp.js">
        <clobbers target="navigator.app.restartApp" />
    </js-module>

      <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="RestartApp">
        <param name="android-package" value="org.apache.cordova.restartapp.RestartApp" />
      </feature>
    </config-file>
    <source-file src="src/android/RestartApp.java" target-dir="src/org/apache/cordova/restartapp" />
  </platform>

</plugin>
